
.Studiocont{
   overflow:hidden;
  display: flex;
  list-style-type: none;
  gap:70px;
  width: 75%;
  margin-left: 10%;
  padding:15px;
}

.sh5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:14px;
   padding-top:10px;
   color:rgb(255, 0, 195);
}
li{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding:5px;
   font-size:15px;
   cursor: pointer;
   transition: translate 0.2s;
}
li:hover{
   transform:translateX(1px);
   font-weight:500;
}



